<div class="container">

  <h1>Thanks for your funding!</h1>

<%= form_for(@funds) do |f|%>

  <%= f.label :amount %>
  <%= f.text_field :amount%>

  <%= f.label :credit_card_number %>
  <%= f.text_field :credit_card_number %>

<% end %>

</div>
