
<div class="container">

  <div class="card form-card">
    <div class="card-content">
      <span class="card-title black-text">Create Your Account</span>
      <div class="form">
        <%= form_for @user, url: signup_path do |f| %>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
          <%= f.label :avatar_url, "Profile photo url" %>
          <%= f.text_field :avatar_url %>
          <%= f.label :email %>
          <%= f.text_field :email %>
          <%= f.label :phone %>
          <%= f.text_field :phone %>
          <%= f.label :username %>
          <%= f.text_field :username %>
          <%= f.label :password %>
          <%= f.password_field :password %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
          <%= f.submit "Create Account", class: "btn btn-color"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
