<div class="container">
  <div class="row">
    <div class="card hoverable margin">
      <div class="card-image left">
        <%= image_tag @registered_user.avatar_url, class: "image-size" %>
      </div>
      <div class="card-content">
        <span class="card-title"><%= @registered_user.first_name %> <%= @registered_user.last_name %></span>
        <ul>
          <li><%= @registered_user.email %></li>
          <li><%= @registered_user.username %></li>
        </ul>
      </div>




    </div>
  </div>
  <a class="waves-effect waves-light btn color right"> Edit</a>
  <table>
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Remaining Time</th>
        <th>Total Amount Funded</th>
        <th>Total Needed</th>
        <th>Amount I've Funded</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @registered_user.projects_funded.each do |project| %>
        <td><%= project.name %></td>
        <td><%= project.remaining_time %></td>
        <td><%= project.total_amount_funded %></td>
        <td><%= project.total_amount_needed %></td>
        <td><%= project.my_total_amount_funded %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
