<div class="container">
  <div class="row">
    <div class="card hoverable margin">
      <div class="card-image left">
        <%#= image_tag @registered_user.avatar_url, class: "image-size" %>
      </div>
      <div class="card-content">
        <span class="card-title"><%= @registered_user.first_name %> <%= @registered_user.last_name %></span>
        <ul>
          <li><%= @registered_user.email %></li>
          <li><%= @registered_user.username %></li>
        </ul>
      </div>




    </div>
  </div>
  <a class="waves-effect waves-light btn color right"> Edit</a>
</div>


<div class="container">
    <table class="bordered highlight centered owned-projects">
      <thead>
        <tr>
          <th>Project name</th>
          <th>Time remaining</th>
          <th>Current total amount funded</th>
          <th>Total amount needed</th>
          <th>Total amount I contributed</th>
          <th>Edit?</th>
        </tr>
      </thead>
      <tbody>
        <% @registered_user.owned_projects.each do |project| %>
        <tr>
          <td><%= project.name %> </td>
          <td></td>
          <td></td>
          <td><%= project.total %></td>
          <td></td>
          <td><%= link_to "Edit", project_edit_path(project.slug) %></td>
        </tr>
          <% end %>
      </tbody>
    </table>
</div>
