

<div class="container">

  <div class="card form-card">
    <div class="card-content">
      <span class="card-title black-text">Thanks for your funding!</span>
      <div class="form">
        <%= form_for @user, url: username_path do |f| %>
          <%= f.label :current_password %>
          <%= f.password_field :password %>
          <%= f.label :new_password %>
          <input id="password" type="password" name="new_password">
          <%= f.label :token %>
          <input type="text" name="token" value="">
          <%= f.submit "Update Password", class: "btn btn-color" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
