

<%= render partial: "shared/jumbotron" %>


<div class="container">
  <div class="row">
    <% @top_projects.each do |project| %>
      <div class="col s4">
        <div class="card project-index">
          <div class="card-image">
            <img src="<%= project.image_url %>" class="proj-index-img">
            <span class="card-title"><%= project.name %></span>
          </div>
          <div class="card-content">
            <p> <%= project.description %> </p>
          </div>
          <div class="card-action">
            <a href="/projects/<%= project.slug %>"> <%= project.name %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
