<div class="row project-jumbo">
  <div class="col s12 m12">
    <div class="icon-block">
      <h2 class="center proj-name">
        <%= @current_project.name %>
      </h2>
      <ul>
        <% @current_project.owners.each do |owner| %>
        <li class="center orange-text"><%= owner.username %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="card col s5">
      <div class="card-image">
        <%= image_tag @current_project.image_url %>
      </div>
    </div>
    <div class="col s1">
      <p>

      </p>
    </div>
    <div class="card col s6 status-card">
      <div class="status-bar">
        <div class="status-color" style="width:<%= percent_funded(@current_project.total, @current_project.total_funds) %>%">
          <p id="status-size"></p>
        </div>
      </div>

      <div class="row">
        <div class="col s1 card" id="total-card">
          <h6 class="center" id="proj-total">Total Needed: <%= number_to_currency(@current_project.total, precision: 2) %><h6>
          </div>
          <div class="col s1 card" id="date-card">
            <h6 class="center"><%= format_date(@current_project.time) %> time remaining to fund!</h6>
          </div>
        </div>
        <div class="row">
          <div class="col s1 class card" id="total-funded">
            <h6 class="center">Total Funded:<%= number_to_currency(@current_project.total_funds, precision: 2) %></h6>
          </div>
          <% if current_user %>
          <div class="col s1 class card" id="my-funded">
            <h6 class="center">I have Funded:<%= number_to_currency(current_user.my_total_amount_funded(@current_project), precision: 2) %>
            </h6></div> <% end %>
          </div>
        </div>
      </div>
      <div class="card-action">
        <% if current_user && @current_project.active? %>
        <%= link_to "Fund", project_funds_path(@current_project), class: "btn right btn-color" %>
        <% elsif current_user && @current_project.disabled? %>
        <a class="btn btn-color disabled right">Disabled</a>
        <% else %>
        <%= link_to "Register/Sign in to fund", login_path, class: "btn right btn-color" %>

        <% end %>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="card proj-card">
            <div class="card-content green-text">
              <p>Description<p>
                <h5 id="proj-description"><%= @current_project.description %></h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="card proj-card">
              <div class="card-content">
                <h6>Comments</h6>
                <% if current_user %>
                <%= render partial: 'comments/new' %>
                <% end %>
                <% @current_project.comments.each do |comment| %>
                <div class="row">
                  <div class="col s8">
                    <div class="card">
                      <div class="card-content">
                        <p class="black-text"><%= comment.content %></p>
                        <p class="right author" ><%= comment.author %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <% end  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
